# 모든 png 파일 무시
*.png

# 모든 zip 파일 무시
*.zip

# 파이캐시 무시
__pycache__


# 모듈화 실행시 해당 디랙토리 파일들을 덮어쓰기 떄문에 개개인의 모듈 실행확인을 위해
# 해당 디랙토리를 제외시킴
data/train_annots_modify/*

# 이미지 디랙토리, push/ pull 방지 -- 업데이트를 희망한다면 .gitignore에서 제외 시키는 것을 고려
data/test_images/*
data/train_images/*
data/train_annotations/*

# 혹시나 압축 파일이 제거되지 않았다면 pull / push에서 제외
data/ai01-level1-project.zip



#가상환경
pj1/

# 데이터 폴더 무시(데이터 다운로드 모듈 제외)
data/*
!data
!data/data_download.py
!data/json_modify.py