# 모든 PNG 파일 무시
*.png

# 모든 ZIP 파일 무시
*.zip

# 모든 TEXT 파일 무시
*.txt

# 파이썬 캐시 파일 무시
__pycache__/

# 학습된 모델 파일 무시
*.pth
# 텐서보드 로그 파일 무시
tensorboard_log_dir/

*.pt


# 데이터 폴더 전체 무시 (개별 예외만 따로 위에서 설정)
data/*

data/test_images/*
data/train_images/*
data/train_annotations/*
data/train_annots_modify/*
data/train_labels/*

# 혹시 남아있을 압축 파일 무시
data/ai01-level1-project.zip

# 런 폴더 전체 무시 (개별 예외만 따로 위에서 설정)
runs/*

# 가상환경 폴더 무시
pj1/

# 욜로 실행시 나오는 웨이트 .pt 무시
yolo11n.pt
yolov8n.pt